* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ff543e;
}

.inputBox {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 3px solid;
  margin-bottom: 20px;
}

.input,
.addBtn,
.inputTodo,
.removeTodo {
  font-size: 2rem;
}

.todoBox {
  display: flex;
  flex-direction: row;
  border: 3px solid;
  margin-bottom: 7px;
}

.todoContainer {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 12px;
  border: none;
}
.inputTodo {
  padding: 12px;
  border: none;
}

.addBtn {
  padding: 12px;
  background: black;
  border: none;
  color: white;
  cursor: pointer;
}

.removeTodo {
  padding: 12px;
  background: #b8392b;
  border: none;
  color: #fae7d7;
  cursor: pointer;
}

h1 {
  font-size: 4rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 100px;
}
